{% extends 'IndexBundle:Default:headerfooter.html.twig' %}

{% block title %}
    <title>Accueil</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/css/main.css') }}">
{% endblock %}

{% block content %}
    <header>
        <img src="{{ asset('bundles/img/logo.png') }}" alt="logo_See2Learn" />

        <a href="/register"><button class="signIn">Inscription</button></a>
        <a href="/login"><button class="signUp">Connexion</button></a>
    </header>

    <div>
        <aside>
            <nav>
                <ul>
                    <li><a id="concept" href="#">Le concept</a></li>
                    <li><a id="comCaMarche" href="#">Comment ça marche ?</a></li>
                    <li><a id="eyetracker" href="#">L'Eye Tracker</a></li>
                    <li><a id="temoignages" href="#">Témoignages</a></li>
                    <li><a id="twitter" href="#">Twitter</a></li>
                    <li><a id="equipe" href="#">L'équipe</a></li>
                    <li><a id="mentions-legales" href="#">Mentions légales</a></li>
                </ul>
            </nav>
        </aside>

        <!-- div pour cacher les sections -->
        <div class="cache">
            <div class="cacheGris"></div>
            <div class="cacheBleu"></div>
        </div>

        <!-- section le concept -->
        <section class="concept">
            <h2>Apprends une nouvelle langue avec la méthode "See To Learn" !</h2>
            <div>
                <div class="imageRonde">
                    <img src="{{ asset('bundles/img/school.png') }}" />
                </div>
                <p>Nous avons contacter que, durant ces dernières années, les nouvelles technologies ont grandement évoluer. Cependant, l'enseignement des langues est resté la même.</p>
                <p>C'est pourquoi on a réfléchis à une nouvelle méthode d'apprendre une langue en utilisant les nouvelles technologies.</p>
                <p>See To Learn vous propose donc d'apprendre une angue en lisant des textes qui vous sont suggérer selon votre niveau et votre avancement.</p>
            </div>
        </section>

        <!-- section comment ça marche ? -->
        <section class="comCaMarche">
            <h2>Comment ça marche ?</h2>
            <div>
                <p>Grâce aux données récolter lors de vos lecture sur différents texte à niveaux différent, nous vous proposons des textes qui sont les plus adapter pour optimizer votre apprentissage de la langue.</p>
                <div class="imageRonde">
                    <img src="{{ asset('bundles/img/pc-tobii-zoom.jpg') }}" />
                </div>
                <p>Blablabla blablabla...</p>
            </div>
        </section>

        <!-- section l'eyetracker -->
        <section class="eyetracker">
            <h2>L'Eye Tracker, c'est quoi ?</h2>
            <div>
                <div class="imageRonde">
                    <img src="{{ asset('bundles/img/pc-tobii.jpg') }}" />
                </div>
                <p>Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...</p>
                <p>Blablabla blablabla...Blablabla blablabla...</p>
                <p>Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla blablabla...Blablabla</p>
            </div>
        </section>

        <!-- section témoignages -->
        <section class="temoignages">
            <h2>Témoignages</h2>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                                <!-- Bottom Carousel Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                                </ol>

                                <!-- Carousel Slides / Quotes -->
                                <div class="carousel-inner">

                                    <!-- Quote 1 -->
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.&rdquo;</p>
                                                <small><strong>Vulputate M., Dolor</strong></small>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Quote 2 -->
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>&ldquo;Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.&rdquo;</p>
                                                <small><strong>Fringilla A., Vulputate Sit</strong></small>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Quote 3 -->
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>&ldquo;Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.&rdquo;</p>
                                                <small><strong>Aenean A., Justo Cras</strong></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section twitter -->
        <section class="twitter">
            <h2>Suivez-nous sur Twitter pour vous tenir au courant de nos actualités !</h2>
            <div class="tweet">
                <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/SeeTo2Learn" data-height="400" data-width="580">Tweets by @SeeTo2Learn</a>
            </div>
        </section>

        <!-- section l'équipe -->
        <section class="equipe">
            <h2>L'équipe</h2>
            <div>
                <div class="slider--teams">
                    <div class="slider--teams__team">
                        <ul id="list" class="cf">
                            <li>
                                <figure class="active">
                                    <div>
                                        <div></div>
                                    </div>
                                    <figcaption>
                                        <h2>Jérémy CUESTA-OGER</h2>
                                        <p>Chef de projet</p>
                                    </figcaption>
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <div>
                                        <div></div>
                                    </div>
                                    <figcaption>
                                        <h2>Gautier MAIRE</h2>
                                        <p>Développeur / Designer</p>
                                    </figcaption>
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <div>
                                        <div></div>
                                    </div>
                                    <figcaption>
                                        <h2>Stéphane INTHAVIXAY</h2>
                                        <p>Développeur</p>
                                    </figcaption>
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <div>
                                        <div></div>
                                    </div>
                                    <figcaption>
                                        <h2>Morgane RICHARD</h2>
                                        <p>Développeuse</p>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- section Mentions légales -->
        <section class="mentions-legales">
            <h2>Apprends une nouvelle langue avec la méthode "See To Learn" !</h2>
            <div>
                <div class="imageRonde">
                    <img src="{{ asset('bundles/img/school.png') }}" />
                </div>
                <p>Nous avons contacter que, durant ces dernières années, les nouvelles technologies ont grandement évoluer. Cependant, l'enseignement des langues est resté la même.</p>
                <p>C'est pourquoi on a réfléchis à une nouvelle méthode d'apprendre une langue en utilisant les nouvelles technologies.</p>
                <p>See To Learn vous propose donc d'apprendre une angue en lisant des textes qui vous sont suggérer selon votre niveau et votre avancement.</p>
            </div>
        </section>
    </div>

    <footer>
        <p>See To Learn © 2017</p>
    </footer>



    <!-- script pour le feed twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <!-- <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script> -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> <!-- cette version permet d'utiliser le slider de l'équipe -->
    <script type="text/javascript" src="{{ asset('bundles/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/main.js') }}"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js'></script>
    <script type="text/javascript" src="{{ asset('bundles/js/equipe.js') }}"></script>
{% endblock %}