{% extends 'IndexBundle:Default:headerfooter.html.twig' %}

{% block title %}
    <title>Une question ?</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/css/users.css') }}">
{% endblock %}

{% block content %}
<header>
    <button class="buttonBurger">
        <span class="buttonBurger__top"></span>
        <span class="buttonBurger__middle"></span>
        <span class="buttonBurger__bottom"></span>
    </button>
    <div class="menu">
        <div>
            <img src="{{ asset('bundles/img/img-profil.jpg') }}" alt="image profil">
        </div>
        <h3> {{ app.user.prenom }} {{ app.user.nom }}</h3>
        <nav>
            <ul>
                <li><a id="us-tab-bord" href="/tableau">Tableau de bord</a></li>
                <li><a id="us-textes" href="/textes">Textes</a></li>
                <li><a class="activeLink" id="us-question" href="/question">Une question ?</a></li>
                <li><a id="us-twitter" href="/twitter">Twitter</a></li>
                <li><a id="us-mentions-legales" href="/mentions">Mentions légales</a></li>
            </ul>
        </nav>
        <p>See To Learn © 2017</p>
    </div>
    <img src="{{ asset('bundles/img/logo.png') }}" alt="logo_See2Learn" />
    <a href="/logout"><button class="signOut">Déconnexion</button></a>
</header>

<section>

    <h2 class="titreQuestion">Une question, un avis, un message à faire passer ? N'hésitez pas !</h2>

    <div class="inner contact">
        <!-- Form Area -->
        <div class="contact-form">
            <!-- Form -->
            <form id="contact-us" method="post" action="/sendMail">
                <!-- Left Inputs -->
                <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                    <!-- Name -->
                    <input type="text" name="name" id="name" required="required" class="form" placeholder="Nom" />
                    <!-- Email -->
                    <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                    <!-- Subject -->
                    <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Sujet" />
                </div><!-- End Left Inputs -->
                <!-- Right Inputs -->
                <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                    <!-- Message -->
                    <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                </div><!-- End Right Inputs -->
                <!-- Bottom Submit -->
                <div class="relative fullwidth col-xs-12">
                    <!-- Send Button -->
                    <button type="submit" id="submit" name="submit" class="form-btn semibold">Envoyer</button>
                </div><!-- End Bottom Submit -->
                <!-- Clear -->
                <div class="clear"></div>
            </form>

            <!-- Your Mail Message -->
            <div class="mail-message-area">
                <!-- Message -->
                <div class="alert gray-bg mail-message not-visible-message">
                    <strong>Merci !</strong>Votre email a correctement été envoyé.
                </div>
            </div>

        </div><!-- End Contact Form Area -->
    </div><!-- End Inner -->
</section>

{% endblock %}