{% extends 'IndexBundle:Default:headerfooter.html.twig' %}

{% block title %}
    <title>Twitter</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/css/users.css') }}">
{% endblock %}

{% block content %}
    <header>
        <button class="buttonBurger">
            <span class="buttonBurger__top"></span>
            <span class="buttonBurger__middle"></span>
            <span class="buttonBurger__bottom"></span>
        </button>
        <div class="menu">
            <div>
                <img src="{{ asset('bundles/img/img-profil.jpg') }}" alt="image profil">
            </div>
            {% if app.user %}
                <h3>{{ app.user.prenom }} {{ app.user.nom }}</h3>
            {% endif %}
            <nav>
                <ul>
                    <li><a id="us-tab-bord" href="/tableau">Tableau de bord</a></li>
                    <li><a id="us-textes" href="/textes">Textes</a></li>
                    <li><a id="us-question" href="/question">Une question ?</a></li>
                    <li><a class="activeLink" id="us-twitter" href="/twitter">Twitter</a></li>
                    <li><a id="us-mentions-legales" href="/mentions">Mentions légales</a></li>
                </ul>
            </nav>
            <p>See To Learn © 2017</p>
        </div>
        <img src="{{ asset('bundles/img/logo.png') }}" alt="logo_See2Learn" />
        <a href="/logout"><button class="signOut">Déconnexion</button></a>
    </header>

    <section>

        <h2 class="titreTwitter">Suivez-nous sur Twitter pour vous tenir au courant de nos actualités !</h2>

        <div class="wrap-twitter">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/SeeTo2Learn" data-height="600" data-width="600">Tweets by @SeeTo2Learn</a>
        </div>
    </section>



    <!-- script pour le feed twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}