{% extends 'IndexBundle:Default:headerfooter.html.twig' %}

{% block title %}
    <title>Textes</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/css/users.css') }}">
{% endblock %}

{% block content %}
    <header>
        <button class="buttonBurger">
            <span class="buttonBurger__top"></span>
            <span class="buttonBurger__middle"></span>
            <span class="buttonBurger__bottom"></span>
        </button>
        <div class="menu">
            <div>
                <img src="{{ asset('bundles/img/img-profil.jpg') }}" alt="image profil">
            </div>
            {% if app.user %}
                <h3>{{ app.user.prenom }} {{ app.user.nom }}</h3>
            {% endif %}
            <nav>
                <ul>
                    <li><a id="us-tab-bord" href="/tableau">Tableau de bord</a></li>
                    <li><a class="activeLink" id="us-textes" href="/textes">Textes</a></li>
                    <li><a id="us-question" href="#">Une question ?</a></li>
                    <li><a id="us-twitter" href="/twitter">Twitter</a></li>
                    <li><a id="us-mentions-legales" href="#">Mentions légales</a></li>
                </ul>
            </nav>
            <p>See To Learn © 2017</p>
        </div>
        <img src="{{ asset('bundles/img/logo.png') }}" alt="logo_See2Learn" />
        <a href="/logout"><button class="signOut">Déconnexion</button></a>
    </header>

    <section>
        <div class="langue row">
            <p class="col-xs-6">Langue à apprendre :</p>
            <form method="POST" action="/textes" class="col-xs-6">
                <select name="langue">
                    <option> -- </option>
                    <option>Anglais</option>
                    <option>Espagnol</option>
                </select>
                <button> Valider </button>
            </form>
        </div>

        <div class="texteConteneur">
            <h2>Propositions de textes</h2>
            <p>Grâce aux données que nous récoltons lors de votre lecture, nous vous proposons les textes les plus adaptés pour votre apprentissage.</p>
            <div id="textes" class="row list-group">
                {% for text in texts %}
                    <div class="item  col-xs-4 col-lg-4">
                        {% if (text.langue == langue) %}
                            <div class="thumbnail">
                                <h3> {{ text.titre }} </h3>
                                <p class="group inner list-group-item-text">{{ text.resume }}</p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-9">
                                        <p>31% de nouveaux mots</p>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <a class="" href="{{ path('lecture', {id: text.id}) }}"><button>See</button></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <h2>Textes déjà lus</h2>

            <div id="textes" class="row list-group">
                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <h3>Texte1</h3>
                        <p class="group inner list-group-item-text">Début du text1 avec trois petit point... blablbla blablabla blabla blablabla ablablablabla blablabla blabla blablabla blblabla blablabla blabla blablabla blablababla blablabla blabla blablabla lbalbalbla blablabla blabla blablabla abla blablabla blabla blablabla balblablababla blablabla blabla blablabla lbalbalbla blablabla blabla blablabla abla blablabla blabla blablabla balblablababla blablabla blabla blablabla lbalbalbla blablabla blabla blablabla abla blablabla blabla blablabla bal</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-9">
                                <p>31% de nouveaux mots</p>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <a class="" href="lecture.html"><button>See</button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <h3>Texte1</h3>
                        <p class="group inner list-group-item-text">Début du text1 avec trois petit point... blablbla blablabla blabla blablabla ablablablabla blablabla blabla blablabla blblabla blablabla blabla blablabla blablababla blablabla blabla blablabla lbalbalbla blablabla blabla blablabla abla blablabla blabla blablabla balblablababla blablabla blabla blablabla lbalbalbla blablabla blabla blablabla abla blablabla blabla blablabla balblablababla blablabla blabla blablabla lbalbalbla blablabla blabla blablabla abla blablabla blabla blablabla bal</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-9">
                                <p>31% de nouveaux mots</p>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <a class="" href="lecture.html"><button>See</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}